*.pyc
*.pyo
*.class
*.log
*.iml
.coverage.*
htmlcov

.cache
.filesystem
/infra/
localstack/infra/

lambda-src/load_file_to_raw_table
lambda-src/load_file_to_metrics_table
lambda-src/load_file_to_daily_metrics_table
lambda-src/load_file_to_monthly_metrics_table



tests
data
/node_modules/
package-lock.json
/nosetests.xml
*.csv
apps
.circleci
.github
*.ipynb
scripts
*.ipynb_checkpoints
./airflow/dags/data/*.csv
logs
plugins
doc
__init__.py
localstack
sqs_bootstrap
archive
bin

venv
/.venv*
/.coverage
.settings/
.project
.classpath
.DS_Store
*.egg-info/
.eggs/
.vagrant/
*.sw*
~*
*~

node_modules/
/build/
/dist/
/target/

.idea
.vscode

**/obj/**
**/lib/**

!bin/docker-entrypoint.sh

requirements.copy.txt
.serverless/

**/.terraform/*
*.tfstate
*.tfstate.*
*tfplan
*.terraform.lock.hcl

.python-version

venv
api_states

/integration/lambdas/golang/handler.zip
/tests/integration/lambdas/golang/handler.zip
tmp/

volume/
